:root {
	/* Catppuccin Mocha */
	--ctp-mocha-rosewater: #f5e0dc;
	--ctp-mocha-flamingo: #f2cdcd;
	--ctp-mocha-pink: #f5c2e7;
	--ctp-mocha-mauve: #cba6f7;
	--ctp-mocha-red: #f38ba8;
	--ctp-mocha-maroon: #eba0ac;
	--ctp-mocha-peach: #fab387;
	--ctp-mocha-yellow: #f9e2af;
	--ctp-mocha-green: #a6e3a1;
	--ctp-mocha-teal: #94e2d5;
	--ctp-mocha-sky: #89dceb;
	--ctp-mocha-sapphire: #74c7ec;
	--ctp-mocha-blue: #87b0f9;
	--ctp-mocha-lavender: #b4befe;
	--ctp-mocha-text: #dce3ff;
	--ctp-mocha-subtext1: #b3bcdf;
	--ctp-mocha-subtext0: #a1a8c9;
	--ctp-mocha-overlay2: #8e95b3;
	--ctp-mocha-overlay1: #7b819d;
	--ctp-mocha-overlay0: #696d86;
	--ctp-mocha-surface2: #565970;
	--ctp-mocha-surface1: #43465a;
	--ctp-mocha-surface0: #313244;
	--ctp-mocha-base: #1e1e2e;
	--ctp-mocha-mantle: #181825;
}

.page-wrapper {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: var(--ctp-mocha-base); */
}

body {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	/* background: var(--ctp-mocha-base); */
	color: var(--ctp-mocha-text);
	background-image: url("img/background.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

code {
	background-color: var(--ctp-mocha-surface2);
	padding: 1px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 10px;
	display: inline;
}

figure {
	margin: 5px;
	border-radius: 12px;
	border: 3px solid var(--ctp-mocha-surface2);
	height: fit-content;
	width: fit-content;
}

figure img {
	display: block;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	height: fit-content;
	width: fit-content;
	user-select: none;
}

figcaption {
	background-color: #5394bb;
	color: #cdd6f4;
	font-style: italic;
	padding: 2px;
	text-align: center;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.duck, .cat, .cat1 {
	cursor: pointer;
	height: 255px;
	width: 255px;
	transition: opacity 2s ease-in-out;
}

.cat, .cat1 {
	position: absolute;
	display: none;
	opacity: 0;
}

.rounded-corners {
	border-radius: 3px;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.emoji {
	height: 1em;
	width: 1em;
	vertical-align: middle;
	display: inline;
}

.maindiv {
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
	border-radius: 10px; 
	padding: 10px;
	max-width: 760px;
	/* min-width: 350px; */
	overflow: auto;
	margin: 10px;
	background-color: rgba(24, 24, 37, 0.8);
	/* backdrop-filter: blur(5px); */
}

a:link {
	color: var(--ctp-mocha-blue);
}

a:visited {
	color: var(--ctp-mocha-maroon);
}

a:hover {
	color: var(--ctp-mocha-green);
}

a:active {
	color: var(--ctp-mocha-peach);
}

.header-mobile {
	display: none;
}

.optionalimage {
	float: right;
}

header {
	text-align: center;
	line-height: 12px;
	padding: 9px;
}

hr {
	border-top: 3px solid var(--ctp-mocha-overlay0);
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 2px;
}

@media (max-width:450px) {
	.optionalimage {
		float: none !important;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header-mobile {
		display: block;
	}
	.header-desktop {
		display: none;
	}
}

@media (max-width:500px) {
	.maindiv {
		box-shadow: none;
	}
	hr {
		border-top: 3px solid var(--ctp-mocha-surface1);
	}
}
