body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-scroll-translation: vertical-to-horizontal;
    -webkit-tap-highlight-color: transparent
}

.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: calc(100% - 104px);
    max-width: 1200px;
    max-height: 760px
}

.Container.intro {
    animation: containerIntro 666ms cubic-bezier(0, 0, 0, 1)
}

.Container.intro .content .halfSection {
    animation: ContentFadeIn 1332ms linear
}

.content {
    width: 100%;
    margin-bottom: 4px;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    display: flex;
    flex-flow: row;
    border-radius: 8px;
    box-shadow: 0 7.2px 21.6px rgba(0, 0, 0, .09), 0 38.4px 86.4px rgba(0, 0, 0, .11)
}

.halfSection {
    width: calc(50% - 1px);
    height: 100%;
    position: relative;
    display: inline-block;
    margin: 0
}

.controls {
    padding: 4%;
    box-sizing: border-box
}

.graphic {
    display: flex
}

.graphic>div {
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 4%
}

@media only screen and (max-width:1440px) and (orientation:landscape) {
    .Container {
        max-width: 1048px;
        max-height: 664px
    }
}

@media only screen and (min-width:2560px) and (orientation:landscape) {
    .Container {
        max-width: 1600px;
        max-height: 1024px
    }
}

@media only screen and (min-width:2560px) and (min-height:1354px) and (orientation:landscape) {
    .Container {
        max-width: 1600px;
        max-height: 1024px;
        transform: translate(-50%, -50%) scale(1.2)
    }
}

@media only screen and (min-width:1921px) and (max-width:2559px) and (orientation:landscape) {
    .Container {
        max-width: 1440px;
        max-height: 912px
    }
}

@media only screen and (orientation:portrait) {
    .halfSection {
        width: 100%
    }

    .halfSection.graphic {
        height: 35%
    }

    .halfSection.controls {
        height: 65%;
        padding: 6% 10%
    }

    .halfSection:nth-child(1) {
        margin-top: -4px
    }

    .Container {
        max-height: 1440px;
        max-width: 912px
    }

    .content {
        flex-flow: column
    }
}

@media (-ms-high-contrast) {
    .content {
        border: 1px solid Highlight
    }
}

@keyframes containerGrow {
    to {
        max-width: 100vw;
        max-height: 100vh;
        width: calc(100% - 104px)
    }
}

@keyframes fadeOut {
    to {
        opacity: 0
    }
}

@keyframes transparentBG {
    to {
        background: rgba(255, 255, 255, 0)
    }
}

@keyframes containerIntro {
    from {
        max-width: 100vw;
        max-height: 100vh;
        height: 100%;
        width: 100%;
        opacity: 1
    }
}

@keyframes ContentFadeIn {
    0% {
        opacity: 0
    }

    66% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.icon,
.icon-oobe {
    -ms-high-contrast-adjust: none
}

:disabled.win-button,
:disabled.win-button.win-button-primary,
:disabled.win-button.win-button-primary:hover,
:disabled.win-button:hover {
    background: rgba(0, 0, 0, .1858);
    color: #fff
}

@media (-ms-high-contrast) {

    :disabled.win-button,
    :disabled.win-button.win-button-primary,
    :disabled.win-button.win-button-primary:hover,
    :disabled.win-button:hover {
        color: GrayText;
        border-color: GrayText
    }
}

::selection {
    color: #fff;
    background: #0067c0
}

a:hover {
    text-decoration: underline
}

.text-content-block {
    display: block;
    margin-bottom: 24px
}

.text-content-body {
    font-size: .87rem;
    line-height: 1.25rem;
    opacity: .6;
    -ms-user-select: none
}

.control-app {
    min-height: 100vh;
    background: 0 0
}

.control-app .app-content {
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: auto
}

.control-app .app-content>div {
    width: 100%
}

.container-content {
    padding: 0 24px 24px 24px
}

.container-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden
}

oobe-light-progress.app-content {
    width: 50%;
    height: calc(100%)
}

html[dir=ltr] oobe-light-progress.app-content {
    left: 50%
}

html[dir=rtl] oobe-light-progress.app-content {
    right: 50%
}

.radialSize {
    width: 64px;
    height: 64px
}

.radial {
    fill: none;
    stroke: #0067c0;
    stroke-width: 2px;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate(-90deg)
}

.radial-bg {
    fill: none;
    stroke: rgba(0, 0, 0, .18);
    stroke-width: 2px;
    stroke-linecap: round
}

.radial-infinite {
    animation: spin-infinite 2s linear infinite
}

@keyframes spin-infinite {
    0% {
        stroke-dasharray: .01px 43.97px;
        transform: rotate(0)
    }

    50% {
        stroke-dasharray: 21.99px 21.99px;
        transform: rotate(450deg)
    }

    100% {
        stroke-dasharray: .01px 43.97px;
        transform: rotate(1080deg)
    }
}

.control-app {
    height: 100%
}

.control-progress {
    top: calc(50% + 2.25rem);
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    align-self: center;
    text-align: center;
    width: 80%
}

#_progressText,
.control-progress h4 {
    height: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 400
}

@font-face {
    font-family: OobeMDL2;
    src: url(/fonts/OOBMDL2.ttf)
}

.icon-oobe {
    font-family: OobeMDL2;
    font-style: normal
}

body {
    font-family: "Segoe UI Variable", "Segoe UI", Selawik, Tahoma, Verdana, Arial, sans-serif;
    font-size: 87.5%;
    background: 0 0
}

.background-image-container {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh
}

.background-image-container::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    opacity: .6
}

.SVGBackdropImage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: scale(1.2)
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@media only screen and (orientation:portrait) {
    .SVGBackdropImage {
        width: 150vh;
        transform: translate3d(-25vh, 0, 0) scale(1.2)
    }
}

@media only screen and (max-aspect-ratio:4 / 3) and (orientation:landscape) {
    .SVGBackdropImage {
        width: 150vw;
        transform: translate3d(-25vw, 0, 0) scale(1.2)
    }
}

@media only screen and (min-aspect-ratio:1601 / 900) and (max-aspect-ratio:2200 / 1000) and (orientation:landscape) {
    .SVGBackdropImage {
        height: 150vh;
        transform: translate3d(0, -25vh, 0) scale(1.2)
    }
}

@media only screen and (min-aspect-ratio:2201 / 1000) and (orientation:landscape) {
    .SVGBackdropImage {
        height: 200vh;
        transform: translate3d(0, -50vh, 0) scale(1.2)
    }
}

.icon {
    font-family: "Segoe Fluent Icons", "Segoe MDL2 Assets", OobeMDL2;
    font-style: normal
}

.icon-button {
    background: 0 0;
    border: 0;
    font-size: 16px;
    height: 44px;
    width: 44px;
    position: absolute;
    z-index: 1000;
    border-radius: 4px;
    margin: 4px
}

html[focus-visible=false] .icon-button:focus {
    box-shadow: none
}

.icon-button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #000;
    color: #003e92
}

.icon-button:hover {
    color: #003e92
}

.icon-button:active {
    color: #000;
    background-color: #fff
}

@media (-ms-high-contrast) {
    .radial {
        stroke: Highlight
    }

    .icon-button {
        margin: 1px;
        background-color: ButtonFace;
        color: ButtonText;
        border: 1px solid ButtonText
    }

    .icon-button:focus {
        margin: 1px;
        background-color: Highlight;
        color: HighlightText;
        outline: 1px solid HighlightText
    }

    .icon-button:hover {
        background-color: HighlightText;
        color: Highlight;
        border: 1px solid Highlight
    }

    .icon-button:active {
        background-color: ButtonText;
        color: ButtonFace;
        border: 1px solid ButtonFace
    }
}

.icon-lang:before {
    content: "\E775"
}

.icon-region:before {
    content: "\E909"
}

.icon-back:before {
    font-size: 18px
}

.icon-container {
    text-align: center
}

html[dir=ltr] .icon-back:before {
    content: "\E112"
}

html[dir=rtl] .icon-back:before {
    content: "\E111"
}

.link {
    color: #003e92;
    text-decoration: none;
    margin: 1px 0;
    outline: 0;
    padding: 2px 0
}

.link:focus {
    text-decoration: underline
}

@media only screen and (max-width:444px) {
    .text-content-body {
        font-size: .75rem;
        line-height: 1rem
    }
}

@media only screen and (orientation:portrait) {
    html[dir=ltr] oobe-light-progress.app-content {
        left: 0
    }

    html[dir=rtl] oobe-light-progress.app-content {
        right: 0
    }

    oobe-light-progress.app-content {
        height: 65% !important;
        top: 35%;
        width: 100%
    }
}